@{ 
    ViewBag.Title = "About";
    ViewBag.About = "active";
}

<partial name="_HeaderLastlink" />

    <section class="s-pt-30 s-pt-lg-50 ls about">
        <div class="divider-60 d-none d-xl-block"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-8 offset-md-2">
                    <div class="main-content text-center">
                        <h5>
                            "We love what we do and we love helping others succeed at what they love to do."
                        </h5>
                        <i class="rt-icon2-user"></i>
                       

                        <div class="divider-10 d-none d-xl-block"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="s-pt-0  s-pb-30 s-pt-lg-30 s-pb-lg-75 ls about-icon teaser-contact-icon">
        <div class="divider-10 d-none d-xl-block"></div>
        <div class="container">
            <div class="row c-mt-50 c-mt-lg-0">
                <div class="col-lg-4 text-center call-icon">
                    <div class="border-icon">
                        <div class="teaser-icon">
                            <img src="~/images/icon1_about.png" alt="">
                        </div>
                    </div>
                    <h6>
                        Who We Are
                    </h6>
                    <div class="icon-content">
                        <p>
                            I'm Hamed S.H a web designer and web developer c#,Asp.netcore in the Netherlands who love working with good people and businesses to help them succeed online.
                        </p>
                    </div>
                </div>
                <div class="col-lg-4 text-center write-icon">
                    <div class="border-icon">
                        <div class="teaser-icon">
                            <img src="~/images/icon2_about.png" alt="">
                        </div>
                    </div>
                    <div class="icon-content">
                        <h6>
                            What We Do
                        </h6>
                        <p>
                            I do my best to provide you with the best website design so you can manage your customers as best they can. Website design and programming are based on flexibility and change in the future, as well as layering and coding principles.
                        </p>
                    </div>
                </div>
                <div class="col-lg-4 text-center visit-icon">
                    <div class="border-icon">
                        <div class="teaser-icon">
                            <img src="~/images/icon3_about.png" alt="">
                        </div>
                    </div>
                    <div class="icon-content">
                        <h6>
                            Why I recommend .netcore
                        </h6>
                        <p>
                            This latest version of Microsoft's programming, very flexible, can be designed with high security in various versions of Windows, mobile and web. It also applies the layering of the site and this will be needed for your site.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="page_slider">
        <div class="shortcode-team-slider">
            <h3 class="slider-title">Team</h3>
            <h3 class="slider-title d-none d-lg-block d-xl-none">Team</h3>
            <div class="flexslider team-slider" data-nav="false" data-dots="true">
                <ul class="slides">
                    <li class="ls">
                        <img src="~/images/team/team_slide_01.jpg" alt="">
                    </li>
                </ul>
            </div>
            <!-- eof flexslider -->

            <div class="flexslider-controls">
                <ul class="flex-control-nav-1">
                    <li class="menu_item">
                        Hamed S.H
                        <span class="position">Developer</span>
                        <span class="team-social-icons">
                            <span class="social-icons">
                                <a href="#" class="fa fa-facebook color-icon border-icon rounded-icon" title="facebook"></a>
                                <a href="#" class="fa fa-twitter color-icon border-icon rounded-icon" title="twitter"></a>
                                <a href="#" class="fa fa-google color-icon border-icon rounded-icon" title="google"></a>
                            </span>
                        </span>
                    </li>
                </ul>
            </div>
        </div>
    </section>