@{ 
    ViewBag.Title = "Not Found";
}

<section class="ls s-pt-50 s-pb-100 error-404 not-found page_404">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">

                <header class="page-header">
                    <p>
                        Oops, Page not found
                    </p>
                </header>
                <!-- .page-header -->

                <div class="page-content">
                    <div id="search-404" class="widget widget_search">


                    </div>

                    <p>
                        <a asp-action="Index" asp-controller="Home" class="btn btn-maincolor">Homepage</a>
                    </p>
                </div>
                <!-- .page-content -->
            </div>
        </div>
    </div>
    <div class="d-none d-lg-block divider-120"></div>
</section>