<!DOCTYPE html>
<meta http-equiv="X-UA-Compatible" content="IE=Edge" />
<html class="no-js">
<head>
  
<partial name="_head" />

</head>

<body>
    <partial name="_modal" />
    

           <partial name="_Header" />
           
          
            @RenderBody()




            <partial name="_Footer" />


   
    @RenderSection("Scripts",false)

</body>

</html>