<section class="row">
    <div class="container">
        <div class="col-lg-12">
            
                <h1>@ViewBag.Title</h1>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a asp-action="Index" asp-controller="Gallery">Home</a>
                    </li>
                    <li class="breadcrumb-item active">
                        @ViewBag.Title
                    </li>
                </ol>
                <div class="d-none d-xl-block"></div>
           
        </div>
    </div>
</section>