    <header class="row">
        <div class="container-fluid">
            <div class="col-lg-12 align-items-center">
                <div class="col-xl-2 col-lg-3 col-11">
                    <a href="default.htm" class="logo text-center">
                        <img src="~/images/logo.png" alt="">
                    </a>
                </div>
                <div class="col-xl-8 col-lg-6 col-1 text-sm-center">
                    <!-- main nav start -->
                    <nav class="top-nav">
                        <ul class="nav sf-menu">


                            <li class="@ViewBag?.Home">
                                <a asp-action="Index" asp-controller="Home">Home</a>
                            </li>
                            <li class="@ViewBag?.Gallery">
                                <a asp-action="Gallery" asp-controller="Home" asp-route-SelectPage="1">Gallery</a>
                            </li>
                            <li class="@ViewBag?.About">
                                <a asp-action="About" asp-controller="Home">About</a>
                            </li>
                            <li class="@ViewBag?.Contact">
                                <a asp-action="Contact" asp-controller="Home">Contact</a>
                            </li>
                        </ul>


                    </nav>
                    <!-- eof main nav -->
                </div>
                <div class="col-xl-2 col-lg-3 text-lg-left text-xl-right d-none d-lg-block">
                    <a href="default.htm" class="logo text-center">
                        <img src="~/images/logo2.png" alt="">
                    </a>
                </div>

            </div>
        </div>
        <!-- header toggler -->
        <span class="toggle_menu">
            <span></span>
        </span>
    </header>

<span class="toggle_menu_side header-slide">
    <span></span>
</span>