<a asp-action="Index" asp-controller="Home" class="btn btn-danger p-5">Home</a>
<a asp-action="Gallery" asp-controller="Home" class="btn btn-danger p-5">Gallery</a>
<a asp-action="About" asp-controller="Home" class="btn btn-danger p-5">About</a>
<a asp-action="Contact" asp-controller="Home" class="btn btn-danger p-5">Contact</a>
<a asp-action="Index" asp-controller="Admin" class="btn btn-warning p-5">Admin</a>